body, html{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(4, 172, 4);
}

.gg{
    list-style: none;
     padding: 0;
    margin: 0;
  background-image: url(./assets/templi-giapponesi.webp);
  height: 300px;
  display: flex;
  
    justify-content: flex-end;
}

